#build and target
target/
build/

#cpp dir
/src/cpp/test/*

#compile infomation
compile_commands.json
.clangd/

#python cache
*.pyc

#python venv
*_venv/

#ipython checkpoint
.ipynb_checkpoints/

#macos
.DS_Store

#lua
yarn.lock
node_modules/

#gd
*.import
